export ZEPHYR_BASE=$HOME/zephyrproject/zephyr
[ -e ztacx ] || ln -s ../.. ztacx
[ -n "$PROGRAM" ] || export PROGRAM=`basename $PWD`
export PATH=ztacx/scripts:$PATH
#export ZEPHYR_SIGN=1
. setboard accelerando_hailstone
#. setboard animaltrap_tas
export PORT=RTT
export RUNNER=openocd
#export ZEPHYR_HELPER=piranha
export ZEPHYR_HELPER=pirate
