export ZEPHYR_BASE=$HOME/zephyrproject/zephyr
[ -e ztacx ] || ln -s ../.. ztacx
[ -n "$PROGRAM" ] || export PROGRAM=`basename $PWD`
export PATH=ztacx/scripts:$PATH
#export ZEPHYR_SIGN=1
export ZEPHYR_HELPER=tweety
#export ZEPHYR_HELPER=piranha
export PORT=RTT

#. setboard accelerando_hailstone
. setboard accelerando_bungan
