[ -e ztacx ] || ln -s ../.. ztacx
[ -n "$PROGRAM" ] || export PROGRAM=`basename $PWD`

export PATH=ztacx/scripts:$PATH
export ZEPHYR_BASE=$HOME/zephyrproject/zephyr
#export ZEPHYR_SIGN=1

#. setboard accelerando_bungan
. setboard accelerando_hailstone
#. setboard accelerando_redsoil
#. setboard stm32_min_dev_blue
