#. /opt/zephyr-sdk-0.14.1/environment-setup-aarch64-pokysdk-linux
export ZEPHYR_BASE=$HOME/zephyrproject/zephyr
[ -e ztacx ] || ln -s ../.. ztacx
[ -n "$PROGRAM" ] || export PROGRAM=`basename $PWD`
export PATH=ztacx/scripts:$PATH
